html {

}
.masthead {
  background-color: #423ca3;
  text-align: center;
}

.btn {
  background-color: #15114c;
  border-style: none;
  border-radius: 10px;
}

.btn:hover {
  background-color: #fff;
  color:  #15114c;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

@media only screen and (min-width: 60em) {

  .nav {
    text-align: left;
  }

  .logo {
    text-align: left;
  }

  .masthead {
    text-align: left;
  }
}
